.banner-single{
	$self : &;
	@extend %boxFull;
	@include span(1);
	background: #005290;
  	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	@include respond-to(sm){
		height: 420px;

	}
    @include e('header'){
    	@include span(1);
    		position: absolute;
    		bottom: 0px;
        	left: 0;
        	padding: 0 15px;

        	@include respond-to(sm){
        		bottom: 50px;
        	}
    }
	@include e('title'){
		color: $white;
		text-align: center;
		font-size: 35px;
		 @include respond-to(sm){
		 	font-size: 45px;
		 }
		&:after{
			content: "";
		    border-bottom: 5px solid #054c7f;
		    width: 100%;
		    display: block;
		    max-width: 60px;
		    margin: 15px auto;
		}
	}
	@include e('subtitle'){
		color: $white;
		text-align: center;
	    max-width: 480px;
	    display: block;
	    margin: 0 auto;
	    font-size: 16px;
	    margin-bottom: 30px;
	    display: none;
	    @include respond-to(sm){
	    	display: block;
	    }
	}

}